@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #0b1020, #020617, #000000);
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
